<%= render "search_student" %>
<%= form_for [@session], :remote => true, :authenticity_token => true do |f| %>
    <p>Please enter the names of whoever is attending:<br /> 
      <!-- This is the textfield that will autocomplete. What is displayed here is for the user to see but the data will not go anywhere -->
      <textarea id="search_student"></textarea>
    </p>
  <% end %>