<h1>All Students</h1>
<%= link_to "<<Return to Index", landing_page_index_path %>
<ul id="students">
  <% @students.each do |student| %>
    <li>
      <%= link_to student.name, student_path(student) %>
    </li>
  <% end %>
  <%= link_to "Create a New Student", new_student_path, class: "new_student" %>
</ul>
