<h1>
  <%= link_to "Link to Student Directory", students_path %>
</h1>
<h1>
  <%= link_to "Link to Sessions Directory", sessions_path %>
</h1>
<h1>
  <%= link_to "Upload CSV Students", csv_import_page_path %>
</h1>