// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search_student
{
  height:200px;
  width: 300px;
}
#sidebuttons{
  float:right;
}
#title{
}
#subtitle{
}
#description{
   padding-left: 50px;
}
#description_field{
    height:  200px;
    width:  300px;
    
}

.box{
    border-radius: 5px;
    background: #0000FF;
    font-size: 22px;
    padding: 11px 0px 0px 11px;
    margin: 0px, 0px 0px 0px;
    margin-top: -15px;
    display: inline-block;
}
.boxclose{
  float: right;
  cursor:pointer;
  border-radius: 3px;
  background: #3333FF;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  margin: -10px 2px 0px 2px;
  padding: 0px 0px;
}
a.studentlink{
  color: #FFFFFF;
  text-decoration:none; 
  font-weight: bold;
}
.boxclose:before {
  content: "×";
}